 body {
        font-family: sans-serif;
        margin: 0;
        padding: 0;
        background-color: #1a1a1a;
    }

    .contenedor {
        max-width: 400px;
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 30px #808080;
    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #333;
    }

    label {
        display: block;
        margin-bottom: 20px;
        color: #555;
    }

    form {
        margin-bottom: 20px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%;
        box-sizing: border-box; /* para que el padding no afecte al ancho */
    }

    button {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: lightgreen;
        color: white;
        border: none;
        cursor: pointer;
    }

    button:hover {
        background-color: blue;
    }